[submodule "include/toolbelt"]
	path = include/toolbelt
	url = https://github.com/oschonrock/toolbelt
[submodule "cmake-scripts"]
	path = cmake-scripts
	url = https://github.com/oschonrock/cmake-scripts.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "include/flat_hash_map"]
	path = include/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "include/ryu"]
	path = include/ryu
	url = https://github.com/ulfjack/ryu
[submodule "csv-parser"]
	path = csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/dyno"]
	path = include/dyno
	url = https://github.com/ldionne/dyno.git
[submodule "compile-time-regular-expressions"]
	path = compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "include/ctre"]
	path = include/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "include/date"]
	path = include/date
	url = https://github.com/HowardHinnant/date.git
[submodule "include/fast_float"]
	path = include/fast_float
	url = https://github.com/fastfloat/fast_float.git
