[submodule "include/toolbelt"]
	path = include/toolbelt
	url = https://github.com/oschonrock/toolbelt
[submodule "cmake-scripts"]
	path = cmake-scripts
	url = https://github.com/oschonrock/cmake-scripts.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "include/flat_hash_map"]
	path = include/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "include/ryu"]
	path = include/ryu
	url = https://github.com/ulfjack/ryu
[submodule "csv-parser"]
	path = csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/dyno"]
	path = include/dyno
	url = https://github.com/ldionne/dyno.git
